<%for(var i=0,ll=data.length; i<ll; i++) { %>
  <li>
    <label class="checkgroup">
      <input type="checkbox" id="goodstype_<%= data[i].id%>" name="checkall"><label for="goodstype_<%= data[i].id%>" class="check-all"></label>
    </label>
    <a  target="_blank"><%= data[i].attrname%></a>
    <span><a href="/shopadmin/goodstypeattr/edit?id=<%= data[i].attrid%>&catid=<%= data.catid%>&catname=<%= data.catname%>">编辑</a><i class="remove">删除</i></span>
  </li>
<%}%>
