<%for(var i=0,ll=data.length; i<ll; i++) { %>
  <li>
    <label class="checkgroup">
      <input type="checkbox" id="pinpai_<%= data[i].id%>" name="checkall"><label for="pinpai_<%= data[i].id%>" class="check-all"></label>
    </label>
    <a href="<%= data[i].link%>" target="_blank"><%= data[i].title%></a>
    <span><a href="./pinpai/edit?id=<%= data[i].id%>">编辑</a><i class="remove">删除</i></span>
  </li>
<%}%>
